.login-register-modal {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.75);
}

.login-register-modal__wrapper {
    width: 500px;
    height: 600px;
    background-color: white;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    position: relative;
}
.login-register-modal__close {
    position: absolute;
    right: 20px;
}
.login-register-modal__logo {
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 20px 0;
}
.login-register-modal__tabs {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.login-register-modal__tabs > button {
    display: flex;
    align-items: center;
    align-content: center;
}

.login-register-inner-wrapper {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 100%;
}

.register-form {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.login-register-input {
    margin-top: 30px;
    height: 25px;
    border-radius: 10px;
    border: none;
    filter: drop-shadow(0 1px 0.1rem rgb(87, 87, 87));
}

.login-register-input[type='text'] {
    padding-left: 10px;
}

.login-register-input[type='email'] {
    padding-left: 10px;
}

.login-register-input[type='password'] {
    padding-left: 10px;
}

.register-form > Button {
    color: red;
}
